<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
	{{>header}}
	<h2>404 Page</h2>
	{{>footer}}
</body>
</html>