<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/app.js"></script>
	<title>ExpressJs</title>
</head>
<body>
	<h1> {{>header }}</h1>
	<p>{{ name }}</p>
	<img src="/img/error-condition.png">
	{{>footer }}
</body>
</html>